/* FONT */
@font-face {
  font-family: "benchnineregular";
  src: url("../fonts/benchnine-regular-webfont.woff") format("woff2"), url("../fonts/benchnine-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "benchninebold";
  src: url("../fonts/benchnine-bold-webfont.woff2") format("woff2"), url("../fonts/benchnine-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "benchninelight";
  src: url("../fonts/benchnine-light-webfont.woff2") format("woff2"), url("../fonts/benchnine-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vivaldiitalic";
  src: url("../fonts/vivaldiitalic-webfont.woff2") format("woff2"), url("../fonts/vivaldiitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bilbo_swash_capsregular";
  src: url("../fonts/bilboswashcaps-regular-webfont.woff2") format("woff2"), url("../fonts/bilboswashcaps-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* END OF FONT */
/* OVERALL */
/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.arrow-hover {
  background-image: url(../img/whiteUpArrow.png) !important;
}
.grison {
  background-color: #a19d9f !important;
  color: #5f5152 !important;
}
.rotate {
  background-image: url(../img/whiteUpArrow.png) !important;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.activeDrop {
  background-color: #3e6487 !important;
  color: #fff;
}
.overflow {
  overflow: hidden;
}
body {
  background-color: tomato;
}
.wrapper {
  position: relative;
  overflow-x: hidden !important;
  width: 100%;
}
.conteneur {
  margin: 0 auto;
  width: 90⅜;
}
/* END OF OVERALL */
/* LANDING PAGE */
header {
  z-index: 9;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 30px;
}
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  display: table;
  z-index: -1;
  top: 0;
  box-shadow: 0px 3px 40px #000000;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 650px;
}
.home-inner {
  position: fixed;
  display: table;
  background-image: url(../img/landingImg.png);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-size: cover;
  background-position: -50px center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/* LEFT MENU */
.menuLeft {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  padding-left: 10px;
  padding-top: 12px;
  left: 0;
  z-index: 9;
}
/* SOCIAL NETWORK */
.menuLeft .social {
  display: inline-block;
  margin-right: 7px;
}
.menuLeft svg {
  width: 21px;
  height: 21px;
}
.menuLeft a:hover path {
  transition-duration: 500ms;
  fill: #6fb659;
}
/* END OF SOCIAL NETWORK */
.phoneNumber {
  position: absolute;
  display: inline-block;
  letter-spacing: 0;
  color: #ffffff;
  font-family: "benchnineregular";
  text-shadow: 1p 2px 15px #ffffff66;
  font-size: 17px;
  margin-top: 13px;
}
.phoneNumber:hover {
  color: #ffffff;
}
.phoneIcon {
  display: inline-block;
  background-image: url(../img/phone.png);
  width: 18px;
  height: 18px;
  background-position: center;
  background-size: cover;
  margin-top: 15px;
  margin-right: 14px;
}
.locationArrow {
  display: inline-block;
  background-image: url(../img/location.png);
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: cover;
  margin-top: 5px;
  margin-right: 10px;
}
.btn1 {
  position: absolute;
  padding: 4px 8px;
  font: 17px "benchnineregular";
  text-align: center;
  text-shadow: 0p 1px 15px #ffffff66;
  text-transform: uppercase;
  letter-spacing: 0;
  background-color: #6fb659;
  box-shadow: 0px 2px 1px #000000;
  border-radius: 20px;
  margin-top: 3px;
}
.btn1:hover {
  cursor: pointer;
  transition-duration: 500ms;
  background-color: #ffffff;
  color: #6fb659 !important;
}
/* END OF LEFT MENU */
/* HAMBURGER MENU */
.right-menu {
  position: absolute;
  width: 100px;
  right: 0px;
  padding-top: 20px;
  padding-right: 18px;
  z-index: 20;
}
.hamburger-menu {
  width: 33px;
  height: 27px;
  float: right;
  cursor: pointer;
}
.blue {
  background: #3e6487 !important;
}

.hamburger-menu:hover .hamburger-line {
  background: #3e6487;
}
.hamburger-menu:hover .blue {
  background-color: #fff !important;
}
.hamburger-line {
  width: 33px;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 3px #000000;
  margin-bottom: 6px;
}
.hamburger-icon {
  display: inline-block;
  background-image: url("../img/hamburger.svg");
  background-position: center;
  background-size: cover;
  height: 37px;
  width: 25px;
}
/* MOBILE MENU */
.mobile-menu {
  position: absolute;
  background: transparent linear-gradient(180deg, #6fb659 0%, #b9d95d 100%) 0% 0% no-repeat padding-box;
  height: 100vh;
  right: 0;
  z-index: 10;
  width: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.overlay-effect {
  position: absolute;
  width: 0;
  background-color: rgba(0, 0, 0, 0.342);
  height: 100vh;
  right: 0;
  z-index: 9;
}
.mobile-menu .mobile-menu-content {
  display: none;
}
.mobile-menu .phoneNumber {
  color: #3e6487;
}
.mobile-menu .phoneNumber:hover {
  color: #fff;
}
.mobile-menu .phoneIcon {
  margin-left: 20px;
}
.mobile-menu .btn1 {
  color: #fff;
  background-color: #3e6487;
}
.mobile-menu .locationArrow {
  margin-left: 20px;
}
.mobile-menu .btn1:hover {
  color: #3e6487 !important;
  background-color: #fff !important;
}
.mobile-menu-content img {
  height: 29px;
  width: 29px;
}
.mobile-menu-content .menu-title {
  display: inline-block;
  width: 145px;
}
.menu-arrow {
  float: right;
  margin-right: 10%;
  height: 29px;
  width: 29px;
  background-size: contain;
  margin-top: 10px;
}
.mobile-menu-content ul {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #3e6487;
  font-family: "benchninebold";
  text-transform: uppercase;
  list-style: none;
  padding: 5px;
  margin-top: 13px;
}
.mobile-menu-content li {
  background-color: #fff;
  border: 2px solid #3e6487;
  border-radius: 8px;
  box-shadow: 0px 1px 10px #000000;
  margin-top: 26px;
  overflow-y: hidden;
  transition-property: background-color;
  transition-duration: 300ms;
}
.mobile-menu-content .dropdown {
  padding-left: 25%;
  padding-right: 6px;
  display: none;
}
.mobile-menu-content .dropdown a {
  display: block;
  background-color: #fff;
  border: 2px solid #3e6487;
  margin-top: 9px;
  color: #3e6487;
  border-radius: 8px;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 300ms;
}
.mobile-menu-content .dropdown a:hover {
  background-color: #3e6487;
  color: #fff;
}
.mobile-menu-content li:hover {
  background-color: #3e6487;
  color: #fff;
}
.menu-arrow {
  background-image: url(../img/blueArrow.png);
}
.mobile-menu-content li:hover .menu-arrow {
  transform: rotate(-180deg);
  background-image: url(../img/whiteUpArrow.png);
}
/* END OF MOBILE MENU */
/* END OF HAMBURGER MENU */
/* LOGO */

.logo {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 110px;
  color: #ffffff;
  font-family: "benchnineregular";
  font-size: 16px;
  text-shadow: 0px 3px 6px #00000029;
  z-index: 9;
}
.setting-container {
  margin-top: -15px;
}
.setting {
  display: inline-block;
  margin: 0 20px;
}
.flag {
  position: relative;
  top: -5px;
}
.setting-arrow {
  display: inline-block;
  position: relative;
  top: +5px;
  width: 13px;
  height: 13px;
  background-image: url(../img/nextBlanc.png);
  background-position: center;
  margin: 0 5px;
}
.dropArrow {
  position: absolute;
  background-image: url(../img/bigDownArrowWhite.png);
  height: 46px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 200%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* END OF LOGO */
.titre {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  color: #ffffff;
  z-index: 1;
}
.spacer {
  height: 100px;
  min-height: 340px;
  height: 40vh;
}
.title1 {
  font-size: 40px;
  font-family: "bilbo_swash_capsregular";
  text-shadow: 0px 4px 5px #000000;
  letter-spacing: 0.4px;
  padding-right: 180px;
}
.fontVivaldi {
  font-family: "vivaldiitalic";
}
.btn {
  border: 0.5px solid #ffffff73;
  background-color: #3e6487;
  border-radius: 32px;
  height: 29px;
  width: 101px;
  box-shadow: 0px 3px 6px #00000029;
  font-family: "benchnineregular";
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  padding-top: 3px;
  transition-property: transform, padding-top;
  transition-duration: 500ms;
}
.btn:hover {
  transition-duration: 500ms;
  border: 0.5px solid #3e6487;
  background-color: #ffffff;
  color: #3e6487;
  transition-duration: 500ms;
  transform: scale(1.3);
  padding-top: 4px;
}
.descBack {
  background: transparent linear-gradient(180deg, #4c2923 0%, #734d41 25%, #a76d5b 49%, #734d41 82%, #4c2923 100%) 0% 0% no-repeat padding-box;
  box-shadow: -1px 1px 5px #ffffffb0;
  border: 0.5px solid #5a392d;
  opacity: 0.74;
  margin: 0 auto;
  width: 380px;
  margin-bottom: 30px;
}
.titleDesc {
  color: #fff;
  font-size: 20px;
  font-family: "benchnineregular";
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
/* END OF LANDING PAGE */
/* SECTION 1 CAT */
.hr1,
.hr2 {
  border-top: 2px solid #5f5152;
  z-index: 10;
}
.hr1 {
  width: 90%;
}
section h2 {
  font-size: 16px;
  font-family: "benchninebold";
  letter-spacing: 0.16px;
  color: #5f5152;
  text-shadow: 0px 1px 10px #00000029;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 auto;
  margin-top: -25px;
  padding: 0 10px;
  background-color: white;
}
.type-box {
  border: 1px solid red;
  width: 220px;
  margin: 0 auto;
  margin-top: 53px;
  text-align: center;
  background: rgba(95, 81, 82, 0.65) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 25px #000000;
  border: 2px solid #ffffff;
  opacity: 1;
  border-radius: 11px;
  padding-bottom: 7px;
}
.plume {
  background-image: url(../img/feathers.png);
  background-size: 200px 203px;
  padding-bottom: 7px;
  background-position-y: 40px;
  background-position-x: center;
}
.hache {
  background-image: url(../img/axe.png);
  background-size: 200px 203px;
  padding-bottom: 7px;
  background-position-y: 40px;
  background-position-x: center;
}
.prise {
  background-image: url(../img/greenEnergy.png);
  background-size: 200px 203px;
  padding-bottom: 7px;
  background-position-y: 40px;
  background-position-x: center;
}
.type-box h3 {
  font-family: "benchnineregular";
  margin-top: 15px;
  font-size: 22px;
  letter-spacing: 0;
  color: #3e6487;
  text-shadow: 0px 1px 7px #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.type-box p {
  border-radius: 6px;
  background-color: #5f5152;
  opacity: 0.8;
  width: 188px;
  margin: 0 auto;
  box-shadow: 0px 1px 20px #ffffffbf;
  padding: 9px 17px;
  color: #fff;
  font-family: "benchninelight";
  font-size: 12px;
  margin-bottom: 21px;
}
.type-box .type-logo {
  width: 88px;
  height: 88px;
  border: 2px solid #3e6487;
  box-shadow: 0px 1px 25px #ffffff;
  background-color: white;
  border-radius: 50%;
  background-image: url(../img/tipi.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  margin: 0 auto;
  margin-top: -33px;
}
.type-box .btn {
  font-family: "benchninelight";
  font-size: 17px;
  width: 115px;
}

/*// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    overflow: hidden !important;
  }
  .wrapper {
    overflow-x: hidden !important;
  }
}
